---
layout: default
---
<!-- Posts -->
<ul id="posts">

	{% for post in paginator.posts %}

	  <li class="post">
			{% if post.image.feature %}
  <a href="{{ https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiqisi_zrbkAhUOE6YKHQdCDNIQjRx6BAgBEAQ&url=%2Furl%3Fsa%3Di%26source%3Dimages%26cd%3D%26ved%3D%26url%3Dhttps%253A%252F%252Fwww.horoscope.com%252Fus%252Fhoroscopes%252Fyearly%252F2019-horoscope-aries.aspx%26psig%3DAOvVaw1ceGSfPfJmUeWzzwXV8_vm%26ust%3D1567667443794493&psig=AOvVaw1ceGSfPfJmUeWzzwXV8_vm&ust=1567667443794493 }}{{ post.url }}"><img src="{{ https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiqisi_zrbkAhUOE6YKHQdCDNIQjRx6BAgBEAQ&url=%2Furl%3Fsa%3Di%26source%3Dimages%26cd%3D%26ved%3D%26url%3Dhttps%253A%252F%252Fwww.horoscope.com%252Fus%252Fhoroscopes%252Fyearly%252F2019-horoscope-aries.aspx%26psig%3DAOvVaw1ceGSfPfJmUeWzzwXV8_vm%26ust%3D1567667443794493&psig=AOvVaw1ceGSfPfJmUeWzzwXV8_vm&ust=1567667443794493 }}/img/thumbnail/{{ post.image.feature }}"></a>
{% endif %}
	  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h2>
	  	<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
	  	<p>{{ post.description | strip_html | truncatewords:50 }}</p>
	  </li>

    {% endfor %}

</ul>
